<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalizar compras</title>
</head>
<body>
    <h1>Finalizar compras</h1>

    <p>Produto: {{.Product}}</p>
    <p>Total: R$ {{.Price}}</p>

    <form action="/finish" method="POST">
        <input type="hidden" name="product_id" value="{{.Uuid}}">
        Name: <input type="text" name="name"><br/>
        Email: <input type="text" name="email"><br/>
        Telefone: <input type="text" name="telefone"><br/>
        <button type="submit">Finalizar compra</button>
    </form>
</body>
</html>